<section class="py-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 py-5 bg-info text-white text-center  d-none d-md-block">
        <div class=" ">
          <div class="card-body">
            <img src="assets/icons/login.png" style="width:60%">
            <h2 class="py-3">Forget-Password</h2>
            <p>Recover your password.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-5 border">
        <h4 class="pb-4">Please fill with your details</h4>
        <form [formGroup]="loginFrom">
          <div class="form-group">
            <label>Email <sub>*</sub></label>
            <input type="text" class="form-control" placeholder="email" formControlName="email">
          </div>
          <div class="form-row pull-right">
            <button class="btn btn-primary" (click)="login()">Submit</button>
          </div>
        </form>

        <div class="form-row pl-3">
          <a href="#">Forgot Password?</a>
        </div>

        <div class="p-3 text-center">
          Don't you have an account? <a [routerLink]="['/public/join-us']">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
