<div class="card">
  <div class="card-header">
    <div class="food-title">
      <div class="left text-dark">
        <h6>Robin's kitchen food</h6>
      </div>
      <div class="right text-secondary">
        <a routerLink="/secure/my-kitchen/{{goToFoodMenu() | async}}/add-food" class="text-infoadd">Add new Food
          Item</a>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-12 px-3">
        <div class="input-group tag-input">
          <input type="text" class="form-control" placeholder="Kitchen, dishes, cuisines"/>
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-info">
                <span class="fa fa-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="feature col-md-12">
        <app-swiper></app-swiper>
      </div>

      <div class="feature col-md-12">
        <div class="food-list-title">
          <div class="left text-dark">
            <h6>More Kitchens</h6>
            <small class="text-secondary">We have got you covered</small>
          </div>
          <div class="right text-secondary">
            <a href="#">View all</a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 my-1" *ngFor="let food of kitchen.foods ">
            <div class="media p-2">
              <div class="media-body d-flex">
                <div class="figure-img">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61UXPmnTC9L._SL1024_.jpg"
                       width="60">
                </div>
                <div class="text-left px-3 w-100">
                  <p class="m-0">{{food.name}}</p>

                  <p class="m-0 small ingredients">
                    <span class="badge badge-info"
                          *ngFor="let ingredient of food.ingredients">{{ingredient.name}}</span>
                  </p>

                  <p class="m-0 small">
                    <span class="fa fa-star text-success"></span> {{food.category}}
                  </p>
                  <p class="m-0 small">
                    <span class="fa fa-money text-danger"></span> {{food.price}}
                  </p>
                  <p class="m-0 small">
                    <span class="fa fa-list text-info"></span> {{food.reciepe}}
                  </p>

                  <p class="m-0 small">
                    <span class="fa fa-info text-secondary"></span> {{food.description}}
                  </p>
                  <!--        <div class="py-2 d-flex justify-content-end">-->
                  <!--          <button class="btn btn-danger btn-sm">View Kitchen</button>-->
                  <!--        </div>-->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
