<div class="card">
  <div class="card-header">
    Add Food to your kitchen
  </div>
  <div class="card-body">
    <form [formGroup]="foodForm">

      <div class="form-row">

        <div class="form-group col-md-4">
          <label>Food Name <sup>*</sup></label>
          <input type="text" class="form-control" placeholder="name" formControlName="name">
          <small class="text-danger" *ngIf="foodForm.get('name').invalid && foodForm.get('name').touched">Please
            enter name.</small>
        </div>


        <div class="form-group col-md-4">
          <label>Price <sup>*</sup></label>
          <input type="number" class="form-control" placeholder="price" formControlName="price">
          <small class="text-danger" *ngIf="foodForm.get('price').invalid &&
           foodForm.get('price').touched">Please
            enter price.</small>
        </div>

        <div class="form-group col-md-4">
          <label>Food Category <sup>*</sup></label>
          <select class="form-control" formControlName="category">
            <option *ngFor="let category of foodCategory"
                    [value]="category.key">{{category.value}}</option>
          </select>
          <small class="text-danger" *ngIf="foodForm.get('category').invalid &&
          foodForm.get('category').touched">Please
            enter category.</small>
        </div>
      </div>

      <div class="form-group">
        <label>Food recipe <sup>*</sup></label>
        <textarea class="form-control" placeholder="reciepe" formControlName="reciepe"></textarea>
        <small class="text-danger"
               *ngIf="foodForm.get('reciepe').invalid && foodForm.get('reciepe').touched">Please
          enter reciepe (min-30).</small>
      </div>

      <div class="form-group">
        <label>Food description <sup>*</sup></label>
        <textarea class="form-control" placeholder="description" formControlName="description"></textarea>
        <small class="text-danger"
               *ngIf="foodForm.get('description').invalid && foodForm.get('description').touched">Please
          enter description (min-30).</small>
      </div>


      <div class="form-row">
        <label>Add Ingredient <sup>*</sup></label>
        <div class="form-group col-md-12">
          <button class="btn btn-sm btn-success" (click)="addIngredient()">
            <span class="fa fa-plus-square"></span> ingredient
          </button>
        </div>

        <div class="form-group col-md-12">
          <div formArrayName="ingredients_attributes"
               *ngFor="let ingredient_attributes of ingredients.controls; let i = index"
               class="pt-1">
            <div [formGroupName]="i">
              <div class="input-group tag-input">
                <input type="text" class="form-control" placeholder="ingredient" formControlName="name"/>
                <div class="input-group-btn">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn btn-danger" (click)="removeIngredient(i)">
                      <span class="fa fa-close" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <small class="text-danger"
                   *ngIf="ingredient_attributes.get('name').invalid && ingredient_attributes.get('name').touched">Please
              enter ingredient.</small>
          </div>
        </div>
      </div>

      <div class="form-row pull-right pt-3">
        <button type="submit" class="btn btn-primary" (click)="add_food()" [disabled]="foodForm.invalid">Add
          Kitchen
        </button>
      </div>
    </form>
  </div>
</div>
