<div class="swiper-title">
  <div class="left text-dark">
    <h6>Dishes on Promotion</h6>
    <small class="text-secondary">Savour the top meal deals today</small>
  </div>
  <div class="right text-secondary">
    <a href="#">View all</a>
  </div>
</div>

<!---->

<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of swiperItem">
      <a [routerLink]="item.url" class="swiper-link">
        <div class="card">
          <img class="card-img-top" src="/assets/our-team/avatar-1_s02nlg.png"
               alt="Card image cap" height="160">
          <div class="card-body p-0 d-flex flex-column">
            <span class="card-text">Some quick content.</span>
            <small class="card-text">Some quick content.</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</swiper>
