<header>
  <nav class="navbar navbar-expand-sm bg-nav-red fixed-top">
    <div class="container-fluid">
      <a class="band-logo font-weight-bold"
         routerLink="/secure"><span class="fa fa-themeisle"></span> Belicious </a>

      <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link mr-0" routerLink="/public/home" routerLinkActive="active-link">-->
          <!--              Home</a>-->
          <!--          </li>-->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white text-uppercase" href="#" id="profile"
               role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{user.first_name}} {{user.last_name}}
            </a>
            <div class="dropdown-menu r-menu" aria-labelledby="profile">
              <a class="dropdown-item" routerLink="/secure/profile">Profile</a>
              <div role="none" class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/secure/change-password">Change Password</a>
              <div role="none" class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<main role="main" class="page-wrapper chiller-theme" [class.toggled]="isOpen">
  <a id="show-sidebar" class="btn btn-sm btn-dark" (click)="openSidebar()" #sidebarOpenButton>
    <i class="fa fa-bars text-white"></i>
  </a>

  <nav id="sidebar" class="sidebar-wrapper secure" #sideBar>
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
               src="assets/icons/user.jpg"
               alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name"> {{user.first_name}}
            <strong>{{user.last_name}}</strong>
          </span>
          <span class="user-role">{{user.role}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="/secure/dashboard" routerLinkActive="active">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="/secure/order-cart" routerLinkActive="active">
              <i class="fa fa-shopping-cart"></i>
              <span>Order Cart</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a routerLink="/secure/order-list" routerLinkActive="active">
              <i class="fa fa-shopping-cart"></i>
              <span>Order List</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
          </li>


          <li class="sidebar-dropdown">
            <a routerLink="/secure/add-kitchen" routerLinkActive="active">
              <i class="fa fa-shopping-cart"></i>
              <span>Add Kitchen</span>
            </a>
          </li>

          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <!--              <span class="badge badge-pill badge-primary">Beta</span>-->
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <!--        <span class="badge-sonar"></span>-->
      </a>
      <a (click)="logout()">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>

  <div class="page-content secure">
    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-light footer-big">
      <div class="copyright-text">
        <p>© 2018
          <a routerLink="/">Belicious</a>. All rights reserved. Created by
          <a routerLink="/" class="sb-text-primary">Belicious.com</a>
        </p>
      </div>
    </footer>
  </div>
</main>

