<div class="media p-2">
  <div class="media-body d-flex">
    <div class="figure-img">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61UXPmnTC9L._SL1024_.jpg"
           width="60">
    </div>
    <div class="text-left px-3 w-100">
      <p class="m-0">{{kitchen.name}}</p>
      <p class="m-0 small tags">
        <span class="badge badge-info" *ngFor="let tag of kitchen.tags">{{tag.name}}</span>
      </p>
      <p class="m-0 small">
        <span
          class="fa fa-location-arrow text-warning"></span> {{kitchen.kitchen_address.address}}, {{kitchen.kitchen_address.city}}, {{kitchen.kitchen_address.state}}
        - {{kitchen.kitchen_address.zip_code}}
      </p>
      <p class="m-0 small">
        <span class="fa fa-star text-success"></span> 3.5
      </p>
      <p class="m-0 small">
        <span class="fa fa-clock-o text-info"></span> 1 Km away
      </p>
      <!--        <div class="py-2 d-flex justify-content-end">-->
      <!--          <button class="btn btn-danger btn-sm">View Kitchen</button>-->
      <!--        </div>-->
    </div>
  </div>
</div>

