.carousel-inner {
  //height: 460px;
}

.carousel-caption {
  bottom: 60px !important;

  h3 {
    padding: 10px 0;
  }
}

@media (max-width: 500px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption {
    bottom: 30px !important;

    h3 {
      font-size: 18px !important;
    }
  }
}

//
//@media (min-width: 768px) { // Medium devices (tablets, 768px and up)
//  .carousel-caption {
//    bottom: 60px !important;
//  }
//}
//
//@media (min-width: 992px) { // Large devices (desktops, 992px and up)
//  .carousel-caption {
//    bottom: 180px !important;
//  }
//}
//
//@media (min-width: 1000px) {
//  .carousel-caption {
//    bottom: 190px !important;
//  }
//}
//
//@media (min-width: 1085px) {
//  .carousel-caption {
//    bottom: 180px !important;
//  }
//}
//
//@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
//  .carousel-caption {
//    bottom: 280px !important;
//  }
//}


.sb-app-c6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section {
  padding: 5rem 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.download_from_store img {
  height: 70px;
}

.text-align {
  padding: 0 40px;
  text-align: justify;
}
