.carousel-inner {
  //height: 460px;
}

.carousel-caption {
  bottom: 60px !important;

  h3 {
    padding: 10px 0;
  }
}

@media (max-width: 500px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption {
    bottom: 30px !important;

    h3 {
      font-size: 18px !important;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.download_from_store img {
  height: 70px;
}

.text-align {
  padding: 0 40px;
  text-align: justify;
}
