<section class="features section text-center sb-app-c6">
  <div class="container">
    <div class="row">
      <div class="features-inner section-inner">
        <div class="row flex-center">
          <div class="feature col-md-4">
            <div class="p-2 card">
              <div class="feature-food-icon">
                <img src="assets/images/online-payment.svg">
              </div>
              <h4 class="feature-title h3-mobile mb-8">Bangladeshi Food</h4>
              <p class="tags">
                <span class="badge badge-primary">tag1</span>
                <span class="badge badge-secondary">tag2</span>
                <span class="badge badge-success">tag3</span>
                <span class="badge badge-danger">tag4</span>
                <span class="badge badge-warning">tag5</span>
                <span class="badge badge-info">tag6</span>
                <span class="badge badge-light">tag7</span>
                <span class="badge badge-dark">tag8</span>
              </p>
              <p class="sb-text-cancel"><b>Dine together</b> with your colleagues, organize your next
                <b>meeting</b> or set up a big <b>event</b>: we got you covered.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <button class="btn btn-danger btn-space">Add to cart <span
                  class="fa fa-cart-plus"></span></button>
                
                <button class="btn btn-danger">Order now <span class="fa fa-arrow-right"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
