.carousel-inner {
  max-height: 360px;
}

.carousel-caption {
  p {
    font-size: 20px;
  }
}

@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption {
    bottom: 43px !important;
  }
}

@media (min-width: 768px) { // Medium devices (tablets, 768px and up)
  .carousel-caption {
    bottom: 150px !important;
  }
}

@media (min-width: 992px) { // Large devices (desktops, 992px and up)
  .carousel-caption {
    bottom: 180px !important;
  }
}

@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
  .carousel-caption {
    bottom: 350px !important;
  }
}


.sb-app-c6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section {
  padding: 5rem 0;
}

.feature {
  position: relative;
  padding: 16px;
  width: 388px;
  max-width: 388px;
  flex-grow: 1;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -16px;
    margin-left: -16px;
  }

  &-inner {
    position: relative;
    height: 100%;
    background: #fff;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 75px;
      width: 75px;
      margin-bottom: 2rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 16px 48px #eee;
      mix-blend-mode: multiply;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.download_from_store img {
  height: 70px;
}
