<section class="py-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 py-5 bg-info text-white text-center ">
        <div class=" ">
          <div class="card-body">
            <img src="assets/icons/login.png" style="width:60%">
            <h2 class="py-3">Account Confirmation</h2>
            <p>You are just one step away from ordering your next meal.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-5 border v-center" *ngIf="data.user.success">
        <div class="row text-center r-center">
          <h4 class="pb-4">Congratulation</h4>
          <p>Your account is verified. Please login with your registered information.</p>
          <div class="p-3 text-center">
            Go back to <a [routerLink]="['/public/login']">login</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 py-5 border v-center" *ngIf="!data.user.success">
        <div class="row text-center r-center">
          <h4 class="pb-4">{{data.user.message}}</h4>
          <div class="p-3 text-center">
            Go back to <a [routerLink]="['/public/login']">login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
