@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

* {
  font-family: 'Rancho', cursive, sans-serif;
}

.sb-text-primary {
  color: #ed6a5e !important;
}

.app-icon {
  height: 150px;
  width: 150px;
}

