@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One&display=swap');

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.bg-black {
  background-color: #000000;
}

body {
  min-height: 75rem;
  padding-top: 3.7rem;
}

h1, h2, .band-logo {
  font-family: 'Yeseva One', cursive;
}

a, p, span, h4 {
  font-family: 'Open Sans', serif;
}

.nav-item a:hover {
  color: #ed6a5e !important;
}

.nav-link, .nav-link a {
  color: #ffffff !important;
  font-size: 15px !important;
}

.sb-text-primary, .active-link {
  color: #ed6a5e !important;
}

a.band-logo {
  color: #ffffff !important;
  font-size: 30px;

  &:hover {
    text-decoration: none;
  }
}

